//----------------------------------------
// Colors.
//----------------------------------------

// branding
$color-brand:       #2b3990 !default;

// code boxes
$color-error:       #bd2c00 !default;
$color-warning:     #cda01d !default;
$color-output:      #303030 !default;
$color-source:      #360084 !default;

// blockquotes
$color-callout:     #f4fd9c !default;
$color-caution:     #cf000e !default;
//$color-challenge:   #eec275 !default;
$color-challenge:   #7975ee !default;
$color-checklist:   #dfd2a0 !default;
$color-discussion:  #eec275 !default;
$color-keypoints:   #7ae78e !default;
$color-objectives:  #daee84 !default;
$color-prereq:      #9cd6dc !default;
$color-solution:    #ded4b9 !default;
$color-testimonial: #fc8dc1 !default;
